 body{

    font-family: Helvetica, Arial, sans-serif;
 }

 .body{
     padding: 60px 15px;
 }

.pacifico{
     font-family: 'Pacifico', cursive;
}

.titulo{
     font-size: 2.5em;
     margin-top: 0;
}

  .main-header{
			background-color:#34495E; 
	      	padding-left:15px;
			padding-right:15px;
			padding-top:10px;
			padding-bottom:10px;
               border-radius: 4px;
          }

          .nav-link{
          	color:white;
          	 margin-right:-4px;
                text-decoration: none;
                width: 33%;
               display: inline-block;
          }

          .text-center{
			text-align:center;
          }

          .red-text{
          	color:#E74C3C;
          }

          .main-container{
               min-height:100vh;
          }

          .product img{
               width: 150px;
          }

          .product h3{
               font-size: 1.7em;
               margin-bottom: 5px;
               margin-top: 5px;
          }

          .card{
                border-radius: 4px;
                background-color: white;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          }

        